# dependencies
node_modules/

# package manager
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# system
.DS_Store

# build / caches
dist/
build/
.turbo/
coverage/
*.tsbuildinfo
